<div class="modal-header">
    <h5 class="modal-title">{{ modal.title }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body"
    [innerHTML]="modal.content">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirm()">Confirm</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>