<!-- <app-top-bar></app-top-bar> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row w-100">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-fill flex-column">
        <ng-container>
          <li class="nav-item" *ngFor="let item of navUrls">
            <a class="nav-link" [routerLink]="[item.url]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ item.navText }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row d-block w-100">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>