<h2>Products</h2>

<ngb-alert [dismissible]="false" [type]="'success'">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>

<div *ngFor="let product of products; index as productId">
    <h3>
        <!-- <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
            {{ product.name }}
        </a> -->
        <a (click)="show(product)">
            {{ product.name }}
        </a>
    </h3>
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <button (click)="share()">
        Share
    </button>

    <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
    </app-product-alerts>
</div>