<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="mt-3">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Registra un nombre de usuario:</label>
          <input type="test" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
          <small *ngIf="f.username.value && f.username.errors" class="alert alert-danger small-alert" role="alert">Mínimo 3 caracteres</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Registrar</button>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <app-user-list [users]="users" (deletedUser)="onDeletedUser($event)" (savedUser)="onSavedUser($event)"></app-user-list>
  </div>
</div>