<h2 class="mt-3">Lista de usuarios registrados</h2>

<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Usuario</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>
          <div (click)="editUser(true, user)" *ngIf="!editMode || user.id !== editingUser.id">{{ user.username }}</div>
          <input type="text" [(ngModel)]="editingUser.username" *ngIf="editMode && user.id === editingUser.id" (keyup.enter)="editUser(false, user)">
        </td>
        <td>
          <button (click)="saveUser(editingUser)" *ngIf="editMode && user.id === editingUser.id">
              <fa-icon [icon]="faSave" style="color: #fff"></fa-icon>
          </button>
          <button (click)="deleteUser(user)" *ngIf="!editMode || user.id !== editingUser.id">
            <fa-icon [icon]="faUserMinus" style="color: #fff"></fa-icon>
          </button>
        </td>
      </tr>
  </tbody>
</table>
 -->


 <div class="card" style="width: 18rem;">
    <img src="https://cdn.iconscout.com/icon/free/png-512/laptop-user-1-1179329.png" class="card-img-top" alt="User">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5 class="card-title">
          Titulo
        </h5>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>